<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Café-Nibm.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B43BBBE25E36D8E0039D5E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B43BBD425E36D950039D5E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBA98B42636FECA008A298A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
